.git
.ddev
.idea
.vscode
.DS_Store
.github
node_modules
vendor
public/fileadmin/*
public/uploads/*
public/_assets/vite/*
public/typo3temp/*
var/*
*.md
.dockerignore
docker-compose.yaml
Dockerfile
.env
.env.*
*.log
.agent/
